/* Reset */

img {
    max-width: 100%;
}

/* Utilities */

.ms_small-container {
    width: 60%;
    margin: 0 auto;
    max-width: 720px;
}
/* HEADER */

.header {
    background-color: #2C3E50;
}

/* Navbar */
.ms_navbar-brand {
    color: white;
}

.fa-solid.fa-bars {
    color: white;
    border: 1px solid white;
    padding: 3px 10px;
    border-radius: 4px;
}

.ms_nav-link {
    color: white;
}

/* MAIN */

.jumbotron {
    /* debug */
    background-color: #1ABC9C;
    /* border: 1px solid red; */
    color: white;
}
    
.jumbotron-image {
    width: 200px;
    margin: auto;
}
.star {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star.white:before,
.star.white:after {
  content: "";
  width: 80px;
  border-bottom: 2px solid white;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.star:before,
.star:after {
  content: "";
  width: 80px;
  border-bottom: 2px solid black;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.about {
    background-color: #1ABC9C;
    color: white;
} 

.about.star i {
    color: white;
}

.contact-me {
    /* debug */
    background-color: grey;

}

.ms_btn-color {
    background-color: rgba(255, 0, 0, 0);
    border-color: white;
}

/* FOOTER */

.ms_footer-top {
    background-color: #3A546D;
    color: white;
}

.ms_footer-bottom {
    background-color: #2C3E50;
    color: white;
}

.around-logo {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}

.around-logo i {
    height: 20px;
    width: 20px;

}